body
{
    background-color: #111111 !important;
}

.container-fluid h1,
.container-fluid p
{
    color: white;
}

#submitInput
{
    margin-top:5%;
    margin-bottom:5%;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}